@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import "tailwindcss";


body{
    background-color: #1F1F1F;
    color: white;
    font-family: Teko, serif;
}

  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  p {
    color: #aaa;
    margin-top: 10px;
  }

  .image{
    margin-top: 100px;
  }

  .arco{
    color: #4D4D4D;
  }

  .nav{
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 4%;
    position: relative;
  }

  .borda-hover {
    display: flex;
    padding: 2px 10px;
    color: #898989;
    transition: all 0.3s ease; 
  }
  
  .borda-hover:hover {
    border: 1px solid ;
    border-radius: 20px;

  }